<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gdgnantes.devfest.android.features.licenses">

    <application>

        <activity
            android:name=".LicensesActivity"
            android:label="@string/openSourceLicenses" />

    </application>

</manifest>